:root {
	--primary: #d8b642;
	--secondary: #353131;
	--background: #353131;
	--header-height: 3.125em;
	--minimap-factor: calc(1 / 9);

}

@font-face {
	font-family: Copperplate;
	src: url('_includes/assets/fonts/Copperplate.woff2') format('woff2')
}
@font-face {
	font-family: Copperplate-Light;
	src: url('_includes/assets/fonts/Copperplate-Light.woff2') format('woff2')
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	width: 100%;
	margin: 0;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

html {
	scroll-snap-type: y proximity;
	scroll-padding-top: var(--header-height);
}

body {
	display: grid;
	width:100%;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
}


p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}



header { 
	background-color: var(--background);
	padding-bottom: 0;
	position: sticky;
	top: 0;
	height: var(--header-height);
	z-index: 100;
}


main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header em {
	display: block;
	font-family: Copperplate-light;
	font-size: 19.2px;
	/* font-weight: 800; */
	font-style: normal;
	letter-spacing: 9.6px;
    font-weight: normal;
    text-decoration: none;
	margin: 0;
	padding-top: .5em;
	padding-left: 3%;
	padding-bottom: .8em;
}

header em .super {
	font-size: 125%;
	font-family: Copperplate;
	/* font-weight: bold; */
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: white;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}





/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

.worklist {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: var(--header-height);
	width: 100%;
}

.worklist article {
	align-items: center;
	/* justify-content: center; */
	border-bottom: 0;
	display: flex;
	height: calc((100vh - var(--header-height)));
	margin: 0 0 0 0;
	padding: 0 0 0 0;

}


.worklist article picture {
	height: 100%;
	width: 100%;
}


.worklist article picture img {
	display: block;
	object-fit: scale-down;
	/* margin: 0 1em 12% 1em; */
	/* margin: 0; */
	height: 90%;
	/* height: 100%; */
	scroll-snap-align: center;

}

.minimap {
	left: calc(5vw / 2);

	position: fixed;
	top: calc(var(--header-height) + 5vh);
	height: calc(100vh - var(--header-height) - 15.7vh);
	/* --minimap-header-height: var(var(--header-height) * var(var(--minimap-factor))); */
}

.minimap-backdrop {
	background-color: black;
	height: 100%;
	filter: blur(1px);
	position: absolute;
	opacity: .25;
	top: 0;
	width: 100%;
	z-index: -1;

}

.minimap-viewpane {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}

.minimap-slider {
	height: calc(100vh * var(--minimap-factor));
	position: absolute;
	opacity: .8;
	top: 0;
	width: 100%;
	border:solid 2px var(--primary);
	z-index: 10;
}

.minimap-content {
	position: relative;
}

.minimap .work-frame {
	justify-content: center;
	align-items: center;
	display: flex;
	width: calc(100vw * var(--minimap-factor));
	height: calc(100vh * var(--minimap-factor));
}

.minimap img {
	height: 80%;
	object-fit: scale-down;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

/* @media screen and (aspect-ratio: 10/7) {
	html {
		scroll-snap-type: X proximity;
	}
	body {
		width: auto;
	}
	.worklist {
	  flex-direction: row;
	}
	.worklist article {
		width: 100vw;
	}
  } */
