<section class="worklist">
	{% for work in collections.work | reverse %}

		<article{% if work.url == url %} data-current="current item"{% endif %}>
				{% image "." + work.data.image, work.data.title, "300" %}
		</article>
	{% endfor %}
</section>
