{% extends "layouts/base.njk" %}
{% block head %}
    {% set head_extra %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="_includes/assets/js/home.js"></script>
    {% endset %}
    {%- include "components/head.njk" %}
{% endblock %}